.main {
  display: flex;
  margin: 4px 0;
  padding: 8px 8px 8px 12px;
  .numbers {
    color: var(#{--text-secondary-color-default}) !important;
    min-width: 300px;
    max-width: 300px;
    cursor: pointer;
    .volume {
      margin-right: 5px;
    }
  }
  .dataChapter {
    .date {
      margin-right: 12px;
    }
  }
  .popular {
    margin-left: 12px;
  }
}
@media (max-width: 541px) {
  .numbers {
    min-width: 190px !important;
    max-width: 190px !important;
  }
}
@media (max-width: 451px) {
  .numbers {
    min-width: 100px !important;
    max-width: 100px !important;
  }
}
