.text {
  max-width: 620px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 4px 0;
  color: var(#{--text-secondary-color-default}) !important;
}
.authors {
  margin-top: 15px;
  .title {
    font-size: 22px;
  }
  div {
    display: flex;
  }
}
@media (max-width: 550px) {
  .text {
    max-width: 490px !important;
  }
}
@media (max-width: 451px) {
  .text {
    max-width: 300px !important;
  }
}
