.block {
  margin: 24px 0;
  background-color: var(#{--components-background-default});
  border-radius: 8px;
  padding: 16px 24px;
  font-size: 16px;
}
.title {
  font-weight: 600;
  line-height: 1.235;
  font-size: 20px;
}
.list {
  margin-top: 20px;
}
.item {
  margin-top: 10px;
  border-bottom: 1px solid gray;
  p {
    font-size: 14px;
  }
}
.answer {
  margin-top: 15px;
}
.nameTeam {
  color: var(#{--text-secondary-color-default}) !important;
  font-weight: 500;
  font-size: 16px;
  margin: 0 5px;
}
