.tisket {
  padding: 24px 16px !important;
  margin-left: 15px;
  border-radius: 16px;
  background-color: var(#{--components-background-default});
}
.popularCategory {
  color: var(#{--text-secondary-color-default}) !important;
  margin: 0px 8px 16px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.235;
}
