* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.ant-modal-footer {
  display: none;
}
.ant-card-meta-title {
  overflow: initial !important;
  white-space: normal !important;
}
body {
  background-color: var(#{--body-background-default}) !important;
}
$primary-color: #4793ff;
$light-background: #fff;

$components-background-dark: #4f4f4f;
$components-background-light: rgb(100, 75, 189);

$card-background-light: rgba(71, 147, 255, 0.2);
$card-background-dark: #2e3035;

$card-box-shadow-light: 0px 3px 20px rgba(147, 144, 144, 0.28);
$card-box-shadow-dark: 0px 3px 20px rgba(5, 5, 5, 0.28);

//My colors
$header-light-color: #e48f13;
$header-dark-color: #1c1c1e;
//body
$body-background-dark: #141414;
$body-background-light: #fff;
//text
$text-light-color: #fff;
$text-dark-color: #fff;

:root {
  //components-background
  --components-background-dark: #{$components-background-dark};
  --components-background-light: #{$components-background-light};
  --components-background-default: var(#{--components-background-light});

  //card-background
  --card-background-dark: #{$card-background-dark};
  --card-background-light: #{$card-background-light};
  --card-background-default: var(#{--card-background-light});

  //card-shadow
  --card-shadow-dark: #{$card-box-shadow-dark};
  --card-shadow-light: #{$card-box-shadow-light};
  --card-shadow-default: var(#{--card-shadow-light});

  //////////////////////////////////////////////////////
  //body-background
  --body-background-dark: #{$body-background-dark};
  --body-background-light: #{$body-background-light};
  --body-background-default: var(#{--body-background-light});

  //text
  --text-color-dark: #{$text-light-color};
  --text-color-light: #{$text-dark-color};
  --text-color-default: var(#{--text-color-light});

  // header
  --header-color-dark: #{$header-dark-color};
  --header-color-light: #{$header-light-color};
  --header-color-default: var(#{--header-color-light});
}
