.title {
  font-size: 24px;
  margin-bottom: 15px;
}
.uploadText {
  margin: 5px;
}
.content {
  width: fit-content;
  margin: 0 auto;
  padding: 25px 0;
}
.header {
  display: flex;
}
.info {
  display: grid;
  margin-left: 20px;
}
.body {
  display: grid;
  margin-top: 15px;
}
.block {
  display: grid;
  margin-bottom: 10px;
}
.block > span {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 5px;
}
/* .customUpload > .ant-upload.ant-upload-select-picture-card {
  min-width: 204px;
  min-height: 289px;
} */
